
/* =============== GLOBAL =============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Droid Serif', serif;
  color: #000000;
}
main {
  background-color: #FFFFFF;
}
input {
  display: block;
  font-size: 18px;
}

/* =============== HEADER =============== */
header {
  background-color: #3db1c3;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
}
header > h1 {
  font-weight: bolder;
  letter-spacing: 7px;
  margin-top: 1em;
}
header > p {
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
#fish {
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
#fish > img {
  width: 197px;
  margin-top: 32px;
  margin-left: .5px;
}

/* =============== NAV =============== */
nav {
  background-color: #FFFFFF;
}
nav > ul {
  margin: 0;
  line-height: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navlink {
  background-color: #ff5e4c;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 20px;
  margin-left: 5px;
  margin-right: 5px;
  color: #FFFFFF;
  letter-spacing: 5px;
  font-size: 24px;
  cursor: pointer;
}
.navlink:hover {
  background-color: #cccccc;
  color: #000000;
}
/* Toggle this class for Tab currently in use (ng-show in index.html)*/
.tab {
  border: 5px solid #444A9E;
}

/* =============== SEARCH =============== */
.wrapper {
  border: 5px solid #444A9E;
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
  padding: 2%;
}
#search-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
#search-input {
  width: 100%;
  margin-right: 10px;
}
#fork {
  height: 130px;
  margin-left: 10px;
}
#location-results {
  background-color: #CCCCCC;
  border-radius: 5px;
}
#location-results > ul {
  margin: 0;
  list-style: none;
  text-align: center;
  padding: 10px;
}

/* =============== SEARCH RESULTS =============== */

/*.result {
  width: 100px;
  height: 100px;
  background-color: rgba(68, 74, 158, 0.4); RGBA with opacity for #444A9E
}*/

/* =============== VIEW RESTAURANT =============== */
#modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}
#modal-box {
  background-color: #FFFFFF;
  margin: 100px auto;
  padding: 5vw;
  height: 80vw;
  width: 80vw;
  border-radius: 5px;
}
#modal-box > img {
  height: 200px;
}
/* =============== LOG IN =============== */


/* =============== FOOTER =============== */
footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  text-align: center;
  background-color: #fcedea;
  padding: 10px;
}
footer > p {
  margin: 0;
  font-size: 20px;
}
.footerlink {
  text-decoration: none;
  color: red;
}

/* =============== MOBILE+ =============== */
@media (min-width: 400px) {
  header {
    padding: 15px;
  }
  header > h1 {
    font-size: 3rem;
  }
  header > p {
    font-size: 1.8rem;
  }
  #fish {
    width: 140px;
    height: 140px;
  }
  #fish > img {
    width: 136px;
    margin-top: 22px;
  }
  nav > ul {
    padding: 0;
  }
  .navlink {
    padding: 12px;
    font-size: 14px;
    margin-right: 2px;
    margin-left: 2px;
  }
}

@media (min-width: 550px) {
  .navlink {
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media (min-width: 750px) {
  .navlink {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (min-width: 1000px) {
  .wrapper {
    max-width: 935px;
  }
}

/* =============== COLOR DICTIONARY =============== */

/*Fish: #ff6c57
Nav Buttons: #ff5e4c
Header: #3db1c3*/


/* #F09784 Piranha Coral <<<<<<<<<< PIRANHA ICON >>>>>>>>> */
/* #FAD8D1 Light Coral */
/* #fcedea Lightest Coral */
/* https://www.pantone.com/color-of-the-year-2017 */
/* #444A9E Pantone "Dazzling Blue" */
/* #F77924 Pantone "Orange Popsicle" */
/* #59C9D5 Pantone "Blue Radiance" */
/* Dark teal: #129baf */
/* #784067 Pantone "Grape Kiss" */
/* #00939A Pantone "Viridian Green" */
/* #83B14F Pantone "Greenery" */
/* #817397 Pantone "Purpel Haze" */
/* #486972 Pantone "Hydro" */
/* #EF5229 Pantone "Scarlet Ibis" <<< deep orange >>> */
/* #FDE9E4 PALE PALE CORAL, lightest */
/* Cartoon Piranha: GRAPE #344D87 */
/* Cartoon Piranha: PEACH #FFCCAA */
