
/* =============== GLOBAL =============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}
main {
  background-color: #FFFFFF;
}

/* =============== HEADER =============== */
header {
  background-color: #F09784;
  padding: 20px;
  text-align: center;
}
header > h1 {
  font-weight: bolder;
  letter-spacing: 7px;
}
header > p {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
#fish {
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
#fish > img {
  width: 197px;
  margin-top: 32px;
  margin-left: .5px;
}

/* =============== NAV =============== */
nav {
  background-color: #fcedea;
}
nav > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}
.navlink {
  background-color: #fcedea;
  margin: 0;
  padding: 0;
  letter-spacing: 4px;
  font-size: 24px;
  border: none;
  cursor: pointer;
}
.navlink:hover {
  background-color: #FFFFFF;
}
/* Toggle this class for Tab currently in use (ng-show in index.html)*/
.tab {
  box-shadow: 0px 0px 3px 3px #000000;
}


/* =============== SEARCH =============== */
#fork {
  height: 200px;
}




/* =============== FOOTER =============== */
footer {
  margin-top: 400px;
  text-align: center;
  background-color: #fcedea;
  padding: 10px;
}
.footerlink {
  text-decoration: none;
  color: red;
}

/* =============== COLOR DICTIONARY =============== */

/* #F09784 Piranha Coral <<<<<<<<<< PIRANHA ICON >>>>>>>>> */
/* #FAD8D1 Light Coral */
/* #fcedea Lightest Coral */
/* https://www.pantone.com/color-of-the-year-2017 */
/* #444A9E Pantone "Dazzling Blue" */
/* #F77924 Pantone "Orange Popsicle" */
/* #59C9D5 Pantone "Blue Radiance" */
/* #784067 Pantone "Grape Kiss" */
/* #00939A Pantone "Viridian Green" */
/* #83B14F Pantone "Greenery" */
/* #817397 Pantone "Purpel Haze" */
/* #486972 Pantone "Hydro" */
/* #EF5229 Pantone "Scarlet Ibis" <<< deep orange >>> */
/* #FDE9E4 PALE PALE CORAL, lightest */
/* Cartoon Piranha: GRAPE #344D87 */
/* Cartoon Piranha: PEACH #FFCCAA */
