
/* =============== GLOBAL =============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 2;
}
body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Droid Serif', serif;
  color: #000000;
  min-width: 315px;
}
main {
  background-color: #FFFFFF;
}
input[type=submit], input[type=text], input[type=password] {
  display: block;
  font-size: 12px;
  padding: 5px;
  margin-top: 5px;
}
input[type=submit], button {
  background-color: #EEEEEE;
  padding: 2px 12px;
  margin-top: 5px;
  text-transform: uppercase;
  border: 2px solid #CCCCCC;
}
button {
  border-radius: 5px;
}

/* =============== HEADER =============== */
header {
  background-color: #3db1c3;
  color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 5px;
  text-align: center;
}
header > h1 {
  font-weight: bolder;
  font-size: 28px;
  letter-spacing: 7px;
  margin-top: 0.5em;
}
header > p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 285px;
  margin: 0 auto;

}
#fish {
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 0 auto;
  width: 130px;
  height: 130px;
}
#fish > img {
  width: 126px;
  margin-top: 22px;
  margin-left: .5px;
}

/* =============== NAV =============== */
nav {
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}
nav > ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navlink {
  background-color: #ff5e4c;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  border-radius: 30px;
  display: block;
  width: 100%;
  max-width: 450px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  margin: 5px 15px 5px 15px;
  color: #FFFFFF;
}
.navlink:hover {
  background-color: #EEEEEE;
  color: #000000;
}
/* Toggle this class for Tab currently in use (ng-show in index.html)*/
.tab {
  box-shadow: 0px 0px 6px 6px #444A9E;
}

/* =============== SEARCH =============== */
.wrapper {
  box-shadow: 0px 0px 6px 6px #444A9E;
  border-radius: 5px;
  width: 95%;
  max-width: 855px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 10px;
}
#search-container {
  width: 286px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
h3 {
  font-size: 20px;
}
#search-input {
  width: 100%;
}
#search-form {
  padding-bottom: 10px;
}
#fork {
  height: 100px;
  margin-right: 15px;
}
#location-results {
  background-color: #EEEEEE;
  font-size: 12px;
  border-radius: 5px;
  height: 100px;
  overflow: auto;
}
#location-results > ul {
  margin: 0;
  list-style: none;
  text-align: center;
  padding: 10px;
}
#location-results * li {
  cursor: pointer;
}
#location-results * li:hover {
  color: #ff5e4c;
}

/* =============== SEARCH RESULTS =============== */
#gallery {
  box-shadow: 0px 0px 6px 6px #3db1c3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
#filter {
  width: 100%;
}
.result, .favorite {
  background-color: #EEEEEE;
  border-radius: 5px;
  margin: 5px auto;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 522px;
  max-height: 200px;
}
.result:hover, .favorite:hover {
  background-color: #fcedea;
}
.result > h3, .favorite > h3 {
  font-size: 18px;
  line-height: 1;
}
.result:hover > h3, .favorite:hover > h3 {
  color: #ff5e4c;
}
.result > p, .favorite > p {
  line-height: 1.5;
  font-size: 12px;
}


/* =============== VIEW RESTAURANT =============== */
#modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}
#modal-box {
  background-color: #FFFFFF;
  overflow: auto;
  margin: 16px;
  padding: 20px;
  height: 90%;
  max-height: 850px;
  width: 90%;
  max-width: 800px;
  min-width: 300px;
  border-radius: 5px;
}
#modal-header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal-header > img {
  height: 100px;
}
#modal-box > img {
  margin: 10px auto;
  display: block;
  width: 300px;
}
hr {
  border: 3px solid #ff5e4c;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#zomato-link {
  display: block;
  margin-top: 60px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ff5e4c;
}
#fave-link {
  background-color: #FFFFFF;
  border: 3px solid #ff5e4c;
  border-radius: 5px;
}

/* =============== CUISINE FILTER =============== */
#filter-container {
  max-width: 561px;
  margin: 0 auto;
  padding: 10px;
}
#filter-container > h3, #filter-container > p {
  text-align: center;
}
#filter-container > p {
  line-height: 2;
}
#cuisine-list > span {
  background-color: #EEEEEE;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 5px;
}
#cuisine-list > span:hover {
  color: #ff5e4c;
}
.query {
  box-shadow: 0px 0px 3px 3px #3db1c3;
}
#cuisine-list > input[type=submit] {
  text-align: center;
  display: block;
  margin: 0 auto;
}
#filter-button {
  border: 3px solid #ff5e4c;
  font-size: 12px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px;
  cursor: pointer;
  margin: 10px auto;
}
#filter-button:hover {
  background-color: #EEEEEE;
}

/* =============== LOG IN =============== */
.login-reg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-reg-header {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

/* =============== FOOTER =============== */
footer {
  text-align: center;
  background-color: #fcedea;
  margin-top: 80px;
  padding: 10px;
}
footer > p {
  margin: 0;
  font-size: 12px;
  min-width: 315px;

}
.footerlink {
  text-decoration: none;
  color: red;
}

/* =============== MOBILE (> 600) =============== */
@media (min-width: 600px){
  header > p {
    width: 100%;
    font-size: 18px;
  }
  #search-container {
    width: 100%;
  }
  .result {
    min-width: none;
    width: 45%;
  }
  .login-reg-header {
    width: 80%;
  }
  #modal-box {
    margin: 5%;
  }
  #modal-body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  #modal-body > div {
    margin-left: 5%;
  }
}

/* =============== TABLET (> 900) =============== */
@media (min-width: 900px){
  .navlink {
    width: auto;
    padding: 10px 16px 10px 16px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .login-reg-header {
    width: 60%;
  }
  .login-reg-header > p {
    font-size: 12px;
  }
  #modal-box {
    margin: auto;
    margin-top: 45px;
  }
}

/* =============== DESKTOP (> 1200) =============== */

/*Break out the search boxes to the left side of the screen - push the results box to the right side of the screen*/

/* =============== COLOR DICTIONARY =============== */

/*Fish: #ff6c57
Dark Orange: #ff5e4c
Turquoise: #3db1c3
Pantone: Dazzling Blue #444A9E source: https://www.pantone.com/color-of-the-year-2017
Light Grey: #EEEEEE
Med Grey: #CCCCCC
Lightest Coral: #fcedea*/
