
/* =============== GLOBAL =============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Droid Serif', serif;
  color: #000000;
}
main {
  background-color: #FFFFFF;
}
input {
  display: block;
}

/* =============== HEADER =============== */
header {
  background-color: #3db1c3;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
}
header > h1 {
  font-weight: bolder;
  letter-spacing: 7px;
  margin-top: 1em;
}
header > p {
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
#fish {
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
#fish > img {
  width: 197px;
  margin-top: 32px;
  margin-left: .5px;
}

/* =============== NAV =============== */
nav {
  background-color: #FFFFFF;
}
nav > ul {
  margin: 0;
  line-height: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navlink {
  background-color: #ff5e4c;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 20px;
  margin-left: 5px;
  margin-right: 5px;
  color: #FFFFFF;
  letter-spacing: 5px;
  font-size: 24px;
  cursor: pointer;
}
.navlink:hover {
  background-color: #cccccc;
  color: #000000;
}
/* Toggle this class for Tab currently in use (ng-show in index.html)*/
.tab {
  border: 5px solid #000000;
}

/* =============== SEARCH =============== */
.wrapper {
  border: 5px solid black;
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
  padding: 3%;
}
#location-results {
  background-color: #CCCCCC;
  border-radius: 5px;
}
#location-results > ul {
  list-style: none;
  text-align: center;
  padding: 10px;
}

/* =============== LOG IN =============== */


/* =============== FOOTER =============== */
footer {
  margin-top: 400px;
  text-align: center;
  background-color: #fcedea;
  padding: 10px;
}
.footerlink {
  text-decoration: none;
  color: red;
}

/* =============== COLOR DICTIONARY =============== */

/*Fish: #ff6c57
Nav Buttons: #ff5e4c
Header: #3db1c3*/


/* #F09784 Piranha Coral <<<<<<<<<< PIRANHA ICON >>>>>>>>> */
/* #FAD8D1 Light Coral */
/* #fcedea Lightest Coral */
/* https://www.pantone.com/color-of-the-year-2017 */
/* #444A9E Pantone "Dazzling Blue" */
/* #F77924 Pantone "Orange Popsicle" */
/* #59C9D5 Pantone "Blue Radiance" */
/* Dark teal: #129baf */
/* #784067 Pantone "Grape Kiss" */
/* #00939A Pantone "Viridian Green" */
/* #83B14F Pantone "Greenery" */
/* #817397 Pantone "Purpel Haze" */
/* #486972 Pantone "Hydro" */
/* #EF5229 Pantone "Scarlet Ibis" <<< deep orange >>> */
/* #FDE9E4 PALE PALE CORAL, lightest */
/* Cartoon Piranha: GRAPE #344D87 */
/* Cartoon Piranha: PEACH #FFCCAA */
