
/* =============== GLOBAL =============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 2;
}
body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Droid Serif', serif;
  color: #000000;
  min-width: 315px;
}
main {
  background-color: #FFFFFF;
}
input {
  display: block;
  font-size: 18px;
}

/* =============== HEADER =============== */
header {
  background-color: #3db1c3;
  color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 5px;
  text-align: center;
}
header > h1 {
  font-weight: bolder;
  font-size: 28px;
  letter-spacing: 7px;
  margin-top: 1em;
}
header > p {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 285px;
  margin: 0 auto;

}
#fish {
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 0 auto;
  width: 130px;
  height: 130px;
}
#fish > img {
  width: 126px;
  margin-top: 22px;
  margin-left: .5px;
}

/* =============== NAV =============== */
nav {
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}
nav > ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navlink {
  background-color: #ff5e4c;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  border-radius: 30px;
  display: block;
  width: 100%;
  max-width: 450px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  margin: 5px 15px 5px 15px;
  color: #FFFFFF;
}
.navlink:hover {
  background-color: #cccccc;
  color: #000000;
}
/* Toggle this class for Tab currently in use (ng-show in index.html)*/
.tab {
  box-shadow: 0px 0px 6px 6px #444A9E;
}

/* =============== SEARCH =============== */
.wrapper {
  box-shadow: 0px 0px 6px 6px #444A9E;
  border-radius: 5px;
  width: 95%;
  max-width: 855px;
  margin: 0 auto;
  padding: 2%;
}
#search-container {
  width: 286px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
h3 {
  font-size: 28px;
}
#search-input {
  width: 100%;
}
#fork {
  height: 130px;
  margin-right: 15px;
}
#location-results {
  background-color: #CCCCCC;
  border-radius: 5px;
  margin-top: 25px;
}
#location-results > ul {
  margin: 0;
  list-style: none;
  text-align: center;
  padding: 10px;
}

/* =============== SEARCH RESULTS =============== */

/*.result {
  width: 100px;
  height: 100px;
  background-color: rgba(68, 74, 158, 0.4); RGBA with opacity for #444A9E
}*/

/* =============== VIEW RESTAURANT =============== */
#modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}
#modal-box {
  background-color: #FFFFFF;
  margin: 100px auto;
  padding: 5vw;
  height: 80vw;
  width: 80vw;
  border-radius: 5px;
}
#modal-box > img {
  height: 200px;
}
/* =============== LOG IN =============== */


/* =============== FOOTER =============== */
footer {
  width: 100vw;
  text-align: center;
  background-color: #fcedea;
  margin-top: 80px;
  padding: 10px;
}
footer > p {
  margin: 0;
  font-size: 14px;
  min-width: 315px;

}
.footerlink {
  text-decoration: none;
  color: red;
}

/* =============== MOBILE (> 600) =============== */
@media (min-width: 600px){
  header > p {
    width: 100%;
    font-size: 18px;
  }
  #search-container {
    width: 100%;
  }
}

/* =============== TABLET (> 900) =============== */
@media (min-width: 900px){
  .navlink {
    width: auto;
    font-size: 14px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #fork {
    height: 100px;
  }
  h3 {
    font-size: 24px;
  }
  input {
    font-size: 14px;
  }
  footer > p {
    font-size: 12px;
  }
}

/* =============== DESKTOP (> 1200) =============== */


/* =============== COLOR DICTIONARY =============== */

/*Fish: #ff6c57
Nav Buttons: #ff5e4c
Header: #3db1c3*/


/* #F09784 Piranha Coral <<<<<<<<<< PIRANHA ICON >>>>>>>>> */
/* #FAD8D1 Light Coral */
/* #fcedea Lightest Coral */
/* https://www.pantone.com/color-of-the-year-2017 */
/* #444A9E Pantone "Dazzling Blue" */
/* #F77924 Pantone "Orange Popsicle" */
/* #59C9D5 Pantone "Blue Radiance" */
/* Dark teal: #129baf */
/* #784067 Pantone "Grape Kiss" */
/* #00939A Pantone "Viridian Green" */
/* #83B14F Pantone "Greenery" */
/* #817397 Pantone "Purpel Haze" */
/* #486972 Pantone "Hydro" */
/* #EF5229 Pantone "Scarlet Ibis" <<< deep orange >>> */
/* #FDE9E4 PALE PALE CORAL, lightest */
/* Cartoon Piranha: GRAPE #344D87 */
/* Cartoon Piranha: PEACH #FFCCAA */
