/* #F09784 Piranha Coral <<<<<<<<<< PIRANHA ICON >>>>>>>>> */
/* #FAD8D1 Light Coral */
/* #fcedea Lightest Coral */
/* https://www.pantone.com/color-of-the-year-2017 */
/* #444A9E Pantone "Dazzling Blue" */
/* #F77924 Pantone "Orange Popsicle" */
/* #59C9D5 Pantone "Blue Radiance" */
/* #784067 Pantone "Grape Kiss" */
/* #00939A Pantone "Viridian Green" */
/* #83B14F Pantone "Greenery" */
/* #817397 Pantone "Purpel Haze" */
/* #486972 Pantone "Hydro" */
/* #EF5229 Pantone "Scarlet Ibis" <<< deep orange >>> */
/* #FDE9E4 PALE PALE CORAL, lightest */
/* Cartoon Piranha: GRAPE #344D87 */
/* Cartoon Piranha: PEACH #FFCCAA */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*COMMENTING OUT FONT STYLING in order to check if Normalize is working*/
  /*font-family: 'Source Sans Pro', sans-serif;*/ 
}
main {
  background-color: #FAD8D1;
}
header {
  background-color: #444A9E;
  padding: 20px;
  text-align: center;
}
header > h1 {
  font-family: 'Rancho', cursive;
  color: #FCEDEA;
  font-size: 48px;
  line-height: 2;
  letter-spacing: 7px;
}
header > p {
  font-size: 32px;
  color: #FCEDEA;
}
#fish {
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 0 auto;
  width: 300px;
  height: 300px;
}
#fish > img {
  width: 297px;
  margin-top: 50px;
  margin-left: .5px;
}
nav {
  background-color: #FCEDEA;
  padding: 30px;
}
nav > ul {
  display: flex;
  line-height: 3;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}
.navlink {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 32px;
  padding: 15px;
  margin: 0 15px;
  border-radius: 20px;
  cursor: pointer;
}
.navlink:hover {
  background-color: #FAD8D1;
}
/* Toggle this class for Tab currently in use (ng-show in index.html)*/
.tab {
  box-shadow: 0px 0px 10px 10px #F09784;
}








footer {
  margin-top: 400px;
  text-align: center;
  background-color: #444A9E;
  color: #FFFFFF;
  font-size: 22px;
  padding: 10px;
}
.footerlink {
  text-decoration: none;
  color: red;
}
