
<section class="wrapper">
  <div class="login-reg">
    <form ng-submit="main.loginCheck()" ng-if="!main.sessionUser.username">
      <div class="login-reg-header">
        <h3>Log In</h3>
      </div>
      <input type="text" name="username" placeholder="username" ng-model="main.currentUserData.username">
      <input type="password" name="password" placeholder="password" ng-model="main.currentUserData.password">
      <input type="submit" name="" value="Login">
    </form>
  </div>

  <section ng-if="main.userLoginFailed" class="login-reg-header">
    <h3>Username/Password do not match</h3>
  </section>

</section>
