
<section class="wrapper">
  <div class="login-reg">
    <div class="login-reg-header">
      <h3>Log In</h3>
    </div>
    <form ng-submit="main.loginCheck()" ng-if="!main.sessionUser.username">
      <input type="text" name="username" placeholder="username" ng-model="main.currentUserData.username">
      <input type="password" name="password" placeholder="password" ng-model="main.currentUserData.password">
      <input type="submit" name="" value="Login">
    </form>
  </div>

  <section ng-if="main.userLoginFailed">
    <p>Username/Password do not match</p>
  </section>

  <section ng-if="!main.userLoginFailed && main.sessionUser.username">
    <p>Welcome {{main.sessionUser.name}}</p>
  </section>

</section>
