<!--  SHOW MODAL to Inspect One Restaurant's Details  -->
  <div id="modal-box">
    <img src="/img/fork.png" alt="Fork and Spoon">
    <!-- DETAILS FOR SPECIFIC RESTAURANT -->
    <h2>{{zomato.restaurantDetail.name}}</h2>
    <p>{{zomato.restaurantDetail.location.address}} <br/>
        Cuisines: {{zomato.restaurantDetail.cuisines}} <br/>
        Average Cost for Two: ${{zomato.restaurantDetail.
average_cost_for_two}} <br/>
        Price Range: {{zomato.restaurantDetail.price_range}} <br/>
        User Rating: {{zomato.restaurantDetail.user_rating.votes}} votes<br/> {{zomato.restaurantDetail.user_rating.aggregate_rating}} <br/>
        {{zomato.restaurantDetail.user_rating.rating_text}} <br/>
    </p>
    <!-- BUTTONS -->
    <button class="button">Add To Favorites</button>
    <button class="button" ng-click="zomato.closeRestaurantDetail()">Close</button>
  </div>
