<ul>
  <li><a ng-click="main.tab = 1" class="navlink tab button">Search</a></li>
                                             <!-- Toggle these buttons if a user is logged in: -->
  <li><a ng-click="main.tab = 2" class="navlink button">Login</a></li> <!-- ng-hide="main.currentUser" -->
  <li><a ng-click="main.tab = 3" class="navlink button">Register</a></li> <!-- ng-hide="main.currentUser" -->
  <li><a ng-click="main.tab = 4" class="navlink button">Profile</a></li> <!-- ng-show="main.currentUser" -->
  <li><a ng-click="main.tab = 5" class="navlink button">Favorites</a></li> <!-- ng-show="main.currentUser" -->
</ul>
