
<section class="wrapper" ng-if="main.sessionUser.username">

  <div id="profile-info" class="login-reg-header">
    <div ng-if="!main.editingUser">
      <h3>User Profile</p>
      <p>Username: {{main.sessionUser.username}}</p>
      <p>Display Name: {{main.sessionUser.name}}</p>
      <p>City: {{main.sessionUser.city}}</p>
      <button type="button" ng-click="main.editUser();">Edit Profile</button>
      <button type="button" ng-click="main.logOut();">Log Out</button>
    </div>

    <div ng-if="main.editingUser" class="form-style-2">
      <h3>Edit User Profile</h3>
      <label for="username"><span>Username:</span> <input type="text" ng-model="main.editUserData.username" value="main.editUserData.username" name="username" class="input-field"></label>
      <label for="password"><span>Password:</span> <input type="password" ng-model="main.newPassword" placeholder="Not Required" name="password" class="input-field"></label>
      <label for="displayName"><span>Display Name:</span> <input type="text" ng-model="main.editUserData.name" value="main.editUserData.name" name="displayName" class="input-field"></label>
      <label for="city"><span>City:</span> <input type="text" ng-model="main.editUserData.city" value="main.editUserData.city" name="city" class="input-field"> </label>
      <button type="button" ng-click="main.updateUser();">Update Profile</button>
      <button type="button"  ng-click="main.cancelEditUser();">Cancel</button>
      <button type="button" ng-click="main.logOut();">Log Out</button>
    </div>

    <div id="delete-account">
      <p class="warning">Delete Account</p>
      <p>Are you sure?</p>
      <p>This action cannot be undone.</p>
      <button type="button" ng-click="main.deleteUser();">Yes, I'm Sure</button>
    </div>
  </div>
</section>

<!-- use login-reg-header class to show text in center -->
<section class="wrapper login-reg-header" ng-if="!main.sessionUser.username">
    <!-- <h1>Looks like you're not logged in!</h1> -->
    <h1>Please Login</h1>
</section>
