<section class="wrapper" ng-if="main.sessionUser.username">
  <h1>{{main.sessionUser.username}}</h1>
  <div class="thumbnail">
    <div id="profile-info">
      <h2>{{main.sessionUser.name}}</h2>
      <h3>{{main.sessionUser.city}}</h3>
      <a class-"button" ng-click="main.editUser();">Edit Profile</a>
      <a class="button" ng-click="main.logOut();">Log Out</a>
    </div>
    <div id="delete-account">
      <p class="warning">Delete Account</p>
      <p>Are you sure?</p>
      <p>This action cannot be undone.</p>
      <a class="button" ng-click="main.deleteUser();">Yes, I'm Sure</a>
    </div>
  </div>
</section>

<section ng-if="main.sessionUser.username">
  <h1>Looks like you're not logged in!</h1>
</section>
