<section ng-controller="ZomatoController as zomato">
  <div class="wrapper">
    <div id="search-container">
      <img src="img/fork.png" alt="Fork and spoon" id="fork">
      <div id="search-form">
        <h3>Search by Location</h3>
        <form ng-submit="zomato.searchCities()">
          <input type="text" placeholder="Enter City Name" id="search-input" ng-model="zomato.cityInput">
          <input type="submit" value="Search">
        </form>
      </div>
    </div>
    <div>
      <div id="location-results">
        <ul>
          <li ng-repeat="location in zomato.locationSuggestions" ng-click="zomato.findRestaurants(location.id);">{{location.name}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="wrapper" id="gallery">
    <div class="result" ng-repeat="restaurant in zomato.foundRestaurants">
      <p ng-click="zomato.showRestaurantDetail(restaurant.restaurant.id);">
        {{restaurant.restaurant.name}}
      </p>
      <p></p>
      <p></p>
      <p></p>
    </div> <!-- ng-repeat through an array of search results -->
  </div>
  <div id="modal" ng-if="zomato.isViewRestaurantActive" ng-include="'partials/modal.html'"></div>
</section>
