<section ng-controller="ZomatoController as zomato">
  <!-- SEARCH FOR CITY NAME -->
  <div class="wrapper">
    <div id="search-container">
      <img src="img/fork.png" alt="Fork and spoon" id="fork">
      <div id="search-form">
        <h3>Search by Location</h3>
        <form ng-submit="zomato.searchCities()">
          <input type="text" placeholder="Enter City Name" id="search-input" ng-model="zomato.cityInput">
          <input type="submit" value="Search">
        </form>
      </div>
    </div>
    <div>
      <div id="location-results">
        <ul>
          <li ng-repeat="location in zomato.locationSuggestions">
            <a ng-click="zomato.findRestaurants(location.id);">{{location.name}}</a>
            <a ng-click="zomato.saveLocation(location);" ng-if="main.sessionActive"><i class="fa fa-map-pin" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- SAVED LOCATIONS TOGGLES ONLY IF A USER IS LOGGED IN-->
  <div class="wrapper" ng-if="main.sessionActive">
    <div id="search-container">
      <img src="img/fork.png" alt="Fork and spoon" id="fork">
      <h3>Saved Locations</h3>
    </div>
    <div>
      <div id="location-results">
        <ul>
          <li ng-repeat="location in main.sessionUser.savedLoc" ng-click="zomato.findRestaurants(location.id);">{{location.name}}</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- DISPLAYS RESTAURANTS FOUND IN A LOCATION -->
  <div class="wrapper" id="gallery">
    <div class="result" ng-repeat="restaurant in zomato.foundRestaurants"  ng-click="zomato.showRestaurantDetail($index);">
      <p>
        {{restaurant.restaurant.name}}
      </p>
      <p>
        <i class="fa fa-cutlery" aria-hidden="true"></i> {{restaurant.restaurant.cuisines}}
      </p>
      <!-- Conditional ng-if statements: repeat the dollar icon based on .price_range value -->
      <p ng-if="restaurant.restaurant.price_range === 1">
        <i class="fa fa-money" aria-hidden="true"></i>
      </p>
      <p ng-if="restaurant.restaurant.price_range === 2">
        <i class="fa fa-money" aria-hidden="true"></i>
        <i class="fa fa-money" aria-hidden="true"></i>
      </p>
      <p ng-if="restaurant.restaurant.price_range === 3">
        <i class="fa fa-money" aria-hidden="true"></i>
        <i class="fa fa-money" aria-hidden="true"></i>
        <i class="fa fa-money" aria-hidden="true"></i>
      </p>
      <p ng-if="restaurant.restaurant.price_range === 4">
        <i class="fa fa-money" aria-hidden="true"></i>
        <i class="fa fa-money" aria-hidden="true"></i>
        <i class="fa fa-money" aria-hidden="true"></i>
        <i class="fa fa-money" aria-hidden="true"></i>
      </p>
      <p>
        <i class="fa fa-star" aria-hidden="true"></i> {{restaurant.restaurant.user_rating.aggregate_rating}} / {{restaurant.restaurant.user_rating.votes}} votes
      </p>
    </div> <!-- ng-repeat through an array of search results -->
  </div>
  <div id="modal" ng-if="zomato.isViewRestaurantActive" ng-include="'partials/modal.html'"></div>
</section>
